# macOS metadata
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.DocumentRevisions-V100/
.fseventsd/
.Spotlight-V100/
.TemporaryItems/
.Trashes/
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Local assets and archives
_Assets/
_Archive/
